<!DOCTYPE html>
<html ng-app="store">
    <head>
        <title>Angular tutorial codeschool</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="list-group" ng-controller="StoreController as store">
            <div class="list-group-item" ng-repeat="p in store.products" ng-hide="p.soldOut">
                <h1>{{ p.name }}</h1>
                <h2>{{ p.price | currency }}</h2>
                <p>{{ p.description }}</p>
                <p><button ng-show="p.canPurchase">Add to cart</button></p>
                <section class="tab" ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:panel.isSelected(1) }">
                            <a ng-click="panel.selectTab(1)" href>Description</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2) }">
                            <a ng-click="panel.selectTab(2)" href>Specifications</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3) }">
                            <a ng-click="panel.selectTab(3)" href>Reviews</a>
                        </li>
                    </ul>
                    <div ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{ p.description }}</p>
                    </div>
                    <div ng-show="panel.isSelected(2)">
                        <h4>Specifications</h4>
                        <blockquote>Not yet</blockquote>
                    </div>
                    <div ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <blockquote>Not yet</blockquote>
                    </div>
                </section>
            </div>
        </div>
        <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>